<h1>ブログ詳細画面</h1>
<ul class="list-group">
  <li class="col-md-6 col-xs-12 list-group-item">
    <p>タイトル:
      <%= @blog.title %></p>
  </li>
  <li class="col-md-6 col-xs-12 list-group-item">
    <p>内容:
      <%= @blog.content %></p>
  <li>
</ul>
