<!--<h1>ブログ詳細画面</h1>-->

<!--<table>-->
<!--  <tr>-->
<!--      <td>タイトル</td>-->
<!--      <td><%= @blog.title %></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--      <td>内容</td>-->
<!--      <td><%= @blog.content %></td>-->
<!--  </tr>-->
<!--</table>-->

<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>