.main-header {
  padding-bottom: 30%;
  width: 100%;
  background-image: url("FB_IMG_1500171029787.jpg");
  background-attachment: fixed;
}

.footer {
  width: 100%;
  text-align: center;
}

body{
  background-color: rgba(54, 86, 224, 0.1);
}
